# IntelliJ project files
.idea
*.iml
out
gen

# Ansible template
*.retry

# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

# Ignore ansible roles in example
example/roles/ansible-catapult-server/
example/roles/ansible-role-docker
